
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(img/entrevista.jpg);
}

header {
    background-color: #04060a;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid rgb(175, 175, 175);   
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    mix-blend-mode: exclusion;
    text-decoration: none;
    color: #fff;
    transition: color 0.95s;
    padding: 10px;
}

nav ul li a:hover {
    color: rgb(223, 244, 255);
    transition: 0.25s;
    background-color:#333;
}

#sobre {
    font-family: Arial, sans-serif;
    font-weight: 700;
    justify-content:first baseline;
    background-color: #fff;
    margin: 5em;
    border-left: 10px solid rgb(175, 175, 175);
    transition: 0.2s;
}

#sobre:hover {
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.4s;

}

#sobre h2 {
    color: #000000;
}

#servicos {
    font-family: Arial, sans-serif;
    font-weight: 700;
    justify-content:first baseline;
    background-color: #fff;
    margin: 5em;
    border-left: 10px solid rgb(175, 175, 175);
    transition: 0.2s;
}

#servicos:hover {
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.4s;

}

#servicos h2 {
    color: #000000;
}
/* Estilos para as seções */
section {
    padding: 2em;

}

section h2 {
    color: #fff;
    margin-bottom: 1em;
}

#contato {
    text-align: left;
    margin: 5px;
    margin-bottom: 0;
}

/* Estilos para o rodapé */
footer {
    position:initial;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    padding: 1.5em;
    margin-bottom: 0;
}

footer #contato {
    position: sticky;
    left: 2px;
    bottom: 2px;
}