@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* VÍDEO DE FUNDO E FUNDO COM GRADIENTE */
#vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#backgradiente {
    position: fixed;
    background: rgb(0,0,0,0.55);
    min-width: 100%;
    min-height: 100%;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* BODY CONFIGS */



/* SCROLLBAR */

main {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    margin: 8% 0;
    transition: scrollbar-color 2s;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 4%, black 98%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 4%, black 98%, transparent);
}

main::-webkit-scrollbar{
    margin: 0;
    background-color: transparent;
    position: fixed;
    transition: 2.5s;
    width: 5px;
}

main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: 2.5s;
}

main::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

main::-webkit-scrollbar-track {
    background: transparent;
    padding: 5px;
}

#frase {
    width: 100%;
    margin: 2% 0;
}

#pizza {
    width: 100%;
}

#pizza p, ol{
    margin: 1% 0;
}

/* DIVISÕES SURGINDO A PARTIR DO MEIO */

.title-container {
    display: inline-block;
    flex-wrap: wrap;
    margin: auto;
}

#surgirhr {
    animation: surgirdomeio 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    width: 0;
    border: none;
    border-top: 1px solid white;
    margin: 0 auto;
}

@keyframes surgirdomeio {
    0% {
        width: 0%;
        margin: 0 auto 0 0;
    }
    100% {
        width: 100%;
        margin: 0 0 0 0;
    }
}

/* HEADER */

header {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 15vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 90%, rgba(0,0,0,0) 100%);
}

header .navbutton{
    text-decoration: none;
    color: white;
    font-family: 'Mulish';
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

header .navbutton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0%);
}

header .navbutton:hover::before {
    width: 100%;
    left: 0;
}   

.navbutton {
    height: fit-content;
    margin: 2% auto;
    padding: 0;
    border-bottom: 1px solid transparent;
}

#top-button {}

#headtitle {
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

#headtitle h1{
    height: 50%;
}

#headtitle h1 p {
    margin: auto;
    width: fit-content;
}

#headtitle img{
    box-shadow: none;
    height: 100%;
}

#headtitle h1, h2{
    width: max-content;
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat';
}

/* MAIN CONTENT */

main{
    padding-top: 40px;
    width: 100%;
    font-family: 'Mulish';
    height: 85%;
    bottom: -20%;
}

section {
    margin: 5vh;

}

#arttab h4{
    margin: 5vh 0vh;
}

#arttab {
    justify-content: center;
    text-align: center;
}

#tab1 {
    border-radius: 20vh 0 0 20vh;
    padding: 6vh 15vh;
    width: 50%;
}

#tab1 tr{
}

#tab1 tr th{
    font-size: 3vh;
}

#tab1 tr td{
    text-align: justify;
    width: 50%;
}

#tab2 {
    border-radius: 0 20vh 20vh 0;
    padding: 6vh 15vh;
    width: 50%;
}

#tab2 tr th{
    font-size: 3vh;
}

#tab2 tr td{
    text-align: justify;
    width: 50%;
}

#tab1 h6{
    margin: 0 5vh;
}

article{
    margin: 0 3%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10%;
    display: flex;
    flex-wrap: wrap;

}

article iframe {
    border-radius: 20px;
    height: 80vh;
}

article table {
    width: 60%;
    padding: 0;
    border-radius: 1%;
    border: 2px solid white;
}

article h4{
    width: 100%;
    margin: 0 0 1vh 0;
    text-align: center;
}

article p{
    width: 100%;
}

#redacao p {
    text-align: justify;
}

article h3{
    width: 100%;
    margin: 0 auto 1% 0;
    text-align: center;
}

main .navbutton{
    text-decoration: none;
    width: fit-content;
    color: white;
    font-family: 'Mulish';
    width: fit-content;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden;

}

main .navbutton h3::before {
    border-bottom: 0;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0%);
}

main .navbutton h3:hover::before {

    width: 100%;
    left: 0;
}   

img{
    margin: 5% auto;
    border-radius:  5%;
    box-shadow: 0 0 1vh white;
}

#img1{
    width:  60%;
}

#img2{
    width: 10%;
}

#img3{
    width: 50%;
}

#img4{
    
}

/* FOOTER */

footer {
    width: 100%;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.5) 90%, rgba(0,0,0,0) 100%);
    height: 20vh;
    position: relative;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#footer p{
    margin-left: 2vh;
    margin-right: auto;
}

#footer .navbutton{
    width: fit-content;
    margin: 10px 10px ;
}

#footer a{
    text-decoration: none;
    color: white;
}

#footer .navbutton{
    text-decoration: none;
    color: white;
    font-family: 'Mulish';
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

#footer .navbutton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0%);
}

#footer .navbutton:hover::before {
    width: 100%;
    left: 0;
}   
